@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Vina+Sans&display=swap");

.navbar {
  background-color: #cd890c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: static;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-logo img {
  height: 100px;
  width: 100px;
}

button {
  font-family: "Rubik Distressed";
  background-color: #cd890c;
  border: none;
}

.navbar-button {
  display: flex;
  align-items: center;
}

.navbar-button .btn1 {
  font-size: 1.5rem;
  opacity: 0.8;
  padding: 0.6rem;
  cursor: pointer;
}

.navbar-button .btn1:hover {
  background-color: black;
  color: #cd890c;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-logo {
    margin-bottom: 20px;
  }
  .navbar-button {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .btn1 {
    margin: 10px 0;
  }
}
